@function cal($num){
	@return $num/20;
}
#details{
	.pic{
		img{
			width:100%;
			height:auto;
			visibility:inherit;
			display:inherit;
		}
	}
	.word{
		padding-left:cal(13rem);
		padding-right:cal(16rem);
		p{
			line-height:cal(18rem);
			font-size:cal(12rem);
			color:#424242;
		}
		span{
			float:left;
			line-height:cal(43rem);
		}	
		span:nth-child(2){
			font-size:cal(9rem);
		}
		span:nth-chidl(3){
			font-size:cal(22rem);
		}
		.left{
			float:left;
			margin-left:cal(5rem);
			del{
				font-size:cal(10rem);
				color:#999999;
			}
			b{
				display:block;
				font-size:cal(10rem);
				color:#ff2255;
				line-height:cal(14rem);
				text-align:center;
				width:cal(26rem);
				background:#ffe8ee;
			}
		}
	}
	.site{
		clear:both;
		line-height:cal(30rem);
		width:100%;
		h5{
			float:left;
			padding-left:cal(14rem);			
			font-weight:normal;
			font-size:cal(10rem);
			color:#999999;
		}
		h6{
			text-align:center;
			font-size:cal(10rem);
			color:#999;
		}
	}	
	.icon{
		border-top:1px solid #eeeeee;
		margin-left:cal(14rem);
		line-height:cal(23rem);
		span{
			font-family:'iconfont';
			font-size:cal(11rem);
			color:#8b8b8b;
		}
		b{
			font-weight:normal;
			font-size:cal(11rem);
			color:#666666;			
		}
		span:nth-child(7){
			float:right;
			margin-top:cal(3rem);
			padding-right:cal(14rem);
			font-size:cal(12rem);
		}
	}
}
.empty{
	clear:both;
	width:100%;
	height:cal(8rem);
	background:#eaeaea;
}
#content{
	margin-left:cal(14rem);
	margin-right:cal(14rem);
	p{
		line-height:cal(24rem);
		font-size:cal(12rem);
	}
	.squ{
		float:left;
		position:relative;
		margin-right:cal(3rem);
		margin-bottom:cal(11rem);
		border-radius:cal(2rem);
		box-shadow:0 cal(5rem) cal(10rem) #ccc;
		height:cal(37rem);
		background:#ff488a;
		.get{
			position:absolute;
			right:cal(-3rem);
			top:cal(8rem);
			display:none;
			font-family:'iconfont';
			font-size:cal(30rem);
		}
		b{
			float:left;
			display:block;
			line-height:cal(20rem);
			text-align:center;
			font-weight:normal;
			font-size:cal(15rem);
			color:#ffecf2;
			width:100%;
			span{			
				font-size:cal(10rem);
			}
		}
		p{
			line-height:cal(10rem);
			text-align:center;
			font-size:cal(11rem);
			color:#fff6f8;
		}
	}
	.look{
		clear:both;
		float:left;
		border-top:1px solid #eeeeee;
		padding-top:cal(15rem);
		width:100%;
		.squ2{
			float:left;		
			margin-bottom:cal(4rem);	
			font-size:cal(11rem);
			color:#ffffff;
			text-align:center;
			width:cal(30rem);
			height:cal(15rem);
			background:#fe9702;
		}
		p{
			float:left;
			margin-left:cal(4rem);
			line-height:cal(15rem);
			font-size:cal(11rem);
			color:#999999;
		}
		.squ3{
			clear:both;
			margin-bottom:cal(10rem);
			background:#9156fb;
		}
		h3{
			float:right;
			margin-top:cal(-8rem);
			font-weight:normal;
			font-size:cal(11rem);
			color:#999999;
			span{
				padding-left:cal(7rem);
				font-family:'iconfont';
				font-size:cal(12rem);
				color:#afa5ac;
			}
		}
	}
}
#color{
	#selCS{
		float:left;
		margin-left:cal(14rem);
		line-height:cal(24rem);
		font-size:cal(12rem);
		color:#666666;
	}
	#CS{
		float:left;
		line-height:cal(24rem);
		font-size:cal(12rem);
		color:#666666;
	}
	#arrows{			
		float:right;
		margin-right:cal(14rem);
		line-height:cal(24rem);
		font-family:'iconfont';
		font-size:cal(12rem);
	}
	.comment{
		margin-left:cal(14rem);
		margin-right:cal(14rem);
		span{
			position:relative;
			padding-right:cal(10rem);
			font-size:cal(11rem);
			color:#999999;
		}
		span:nth-child(1):after{
			position:absolute;
			right:cal(2rem);
			top:cal(4rem);
			content:'';
			width:1px;
			height:cal(11rem);
			background:#999999;
		}
		b{
			float:right;
			margin-top:cal(5rem);
			font-family:'iconfont';
			font-size:cal(12rem);
			color:#999999;
		}
		.squ-pic{			
			strong{
				display:block;
				float:left;
				margin-right:cal(5rem);
				margin-top:cal(4rem);
				padding:cal(5rem);
				font-weight:normal;
				font-size:cal(12rem);
				color:#ff2255;
				height:cal(20rem);
				background:#ffe8ee;
			}
		}
		.user{
			clear:both;
			padding-bottom:cal(13rem);
			border-bottom:1px solid #eeeeee;
			.face{
				float:left;
				margin-top:cal(13rem);
				border-radius:50%;
				width:cal(27rem);
				height:cal(27rem);
			}
			i{
				float:left;
				display:block;
				padding-top:cal(11rem);
				line-height:cal(30rem);
				padding-left:cal(11rem);
				font-style:normal;
				font-size:cal(10rem);
				color:#424242;
			}
			p{
				clear:both;
				margin-left:0;
				padding-top:cal(5rem);
				line-height:cal(22rem);
				font-size:cal(11rem);
				color:#727272;
			}
			em{
				display:block;
				line-height:cal(20rem);
				font-style:normal;
				font-size:cal(9rem);
				color:#999999;
			}
			img{
				margin-top:cal(5rem);
			}
		}
	}
}
#shop{
	clear:both;
	overflow:hidden;
	margin-top:cal(17rem);
	margin-left:cal(13rem);
	margin-right:cal(13rem);
	padding-bottom:cal(15rem);
	h6{
		float:left;
		margin-bottom:cal(9rem);
		img{
			float:left;
			border-radius:cal(2rem);
			width:cal(41rem);
		}
		span{
			padding-left:cal(9rem);
			font-size:cal(11rem);
		}
		p{
			margin-left:cal(50rem);
			b{			
				font-family:'iconfont';
				font-size:cal(7rem);
				color:red;			
			}
		}		
	}
	.come{
		float:right;
		b{
			font-weight:normal;
			font-size:cal(11rem);
			color:#ff5777;
		}
		span{
			font-family:'iconfont';
			font-size:cal(11rem);
			color:#ff5777;
		}
	}
	.list{
		clear:both;
		ul{		
			float:left;	
			li{
				margin-right:cal(20rem);
				margin-left:cal(20rem);
				line-height:cal(17rem);
				font-size:cal(11rem);
				color:#333333;
				p{
					color:#999999;
				}
			}
		}
		ul:nth-child(2){
			li{
				position:relative;
			}
			li:after{
				position:absolute;
				right:cal(-24rem);
				top:0;
				content:'';
				width:1px;
				height:54px;
				background:#e5e5e5;
			}
			li:before{
				position:absolute;
				left:cal(-24rem);
				top:0;
				content:'';
				width:1px;
				height:54px;
				background:#e5e5e5;
			}
		}
		ul:nth-child(3){
			li{
				color:#999999;
				b{
					margin-left:cal(4rem);
					font-weight:normal;
					color:#ff5777;
				}
			}
		}
	}	
}
#image-text{
	ul{
		border-bottom:1px solid #d9d9d9;
		line-height:cal(37rem);
		height:cal(37rem);
		width:100%;		
		background:white;
		li:nth-child(1){
			border-bottom:1px solid red;
			a{
				color:#ff5577;
			}
			
		}
		li{
			float:left;
			text-align:center;
			width:cal(100rem);
			font-size:cal(13rem);
			a{
				color:#333;
			}
			
		}
	}
	.circle{
		position:relative;
		margin-top:cal(15rem);
		margin-left:cal(13rem);
		margin-bottom:cal(7rem);
		border-radius:50%;
		width:cal(4rem);
		height:cal(4rem);
		background:#1f1f1f;
		&:after{
			position:absolute;
			left:cal(4rem);
			top:cal(2rem);
			content:'';
			width:cal(73rem);
			height:1px;
			background:#a3a3a5;
		}
	}
	p{
		margin-left:cal(13rem);
		margin-right:cal(13rem);
		line-height:cal(18rem);
		font-size:cal(11rem);
		color:#727272;
	}
	.circle2{
		float:right;
		margin-right:cal(13rem);
		&:after{
			width:0;
			background:none;
		}
		&:before{
			position:absolute;
			right:cal(4rem);
			top:cal(2rem);
			content:'';
			width:cal(73rem);
			height:1px;
			background:#a3a3a5;
		}
	}
	h3{
		clear:both;
		margin-left:cal(13rem);
		line-height:cal(20rem);
		font-size:cal(12rem);
	}
	img{
		width:100%;
		margin-bottom:cal(2rem);
	}
	ol{
		clear:both;
		margin-left:cal(13rem);
		margin-right:cal(13rem);
		height:cal(37rem);
		border-bottom:1px solid #d9d9d9;
		line-height:cal(37rem);
		li{
			float:left;
			margin-right:cal(2rem);
			font-size:cal(11rem);
			color:#727272;
			width:cal(75rem);
		}
		.handle{
			width:cal(33rem);
		}
		.red{
			color:#eb4868;
		}
	}
}
#recommend{
	clear:both;
	overflow:hidden;
	margin-left:cal(12rem);
	margin-bottom:cal(50rem);
	dt{
		dl{
			float:left;
			margin-top:cal(15rem);
			margin-right:cal(7rem);
			width:cal(93rem);
			height:cal(175rem);
			img{
				width:cal(93rem);
			}
			p{
				line-height:cal(15rem);
				font-size:cal(11rem);
				color:#5e5e5e;
			}
			span{
				display:block;
				line-height:cal(15rem);
				font-size:cal(9rem);
				color:#5e5e5e;
			}
		}
	}
}
#fixed{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:cal(40rem);
	background:white;
	.collect{
		float:left;
		border-top:1px solid #ededed;
		border-right:1px solid #ededed;
		width:cal(50rem);
		line-height:cal(15rem);
		text-align:center;
		span{
			display:block;
			padding-top:cal(3rem);
			font-family:'iconfont';
			font-size:cal(17rem);
			color:#727272;
		}
		p{
			line-height:cal(20rem);
			font-size:cal(12rem);
			color:#727272;
		}
	}	
	h4{
		float:left;
		line-height:cal(40rem);
		text-align:center;
		font-weight:normal;
		font-size:cal(12rem);
		color:#eb4868;
		width:cal(109rem);
		height:cal(40rem);
		background:#ffe8ee;
	}
	h4:nth-child(4){
		color:#ffffff;
		background:#ff5579;
	}
}
#right{
	clear:both;	
	position:fixed;
	right:12px;
	bottom:40px;
	z-index:1;
	#toTop{
		display:none;
	}
	.nav{
		position:relative;
		div{
			margin-bottom:15px;
			border-radius:50%;			
			height:50px;
			width:50px;
			opacity:0.7;
			filter:alpha(opacity = 70);
			background:black;
		}
		#replace{
			display:none;
			margin-right:10px;
			margin-bottom:10px;
			font-size:13px;
			color:white;
		}
		p{
			position:absolute;
			right:11px;
			bottom:8px;
			span{				
				display:block;
				text-align:center;
				font-size:13px;
				color:#fff;
				font-family:'iconfont';
			}
		}
	}	
}
#shadow{
	position:fixed;
	left:0;
	top:0;
	display:none;
	opacity:0.6;
	filter:alpha(opacity=60);
	width:100%;
	height:100%;
	background:black;
}
#nav2{
	position:fixed;
	right:12px;
	bottom:235px;
	display:none;
	.nav{
		position:relative;
		margin-bottom:10px;
		width:320px;
		height:40px;		
		div{
			position:relative;
			position:absolute;
			right:5px;
			bottom:0;
			margin-bottom:15px;
			border-radius:50%;			
			height:40px;
			width:40px;
			background:#ededed;
		}
		b{
			position:absolute;
			right:50px;
			bottom:25px;
			display:block;
			i{
				font-style:normal;
				font-size:13px;
				color:#fff;
				font-weight:normal;
			}			
		}
		p{
			position:absolute;
			right:12px;
			bottom:20px;
			span{				
				font-size:25px;
				font-family:'iconfont';
			}
		}
	}	
}
#serve{
	position:fixed;
	left:0;
	bottom:0;
	z-index:1;
	display:none;
	overflow:hidden;
	width:100%;
	height:465px;
	background:white;
	h4{
		line-height:cal(30rem);
		text-align:center;
		font-weight:normal;
		font-size:cal(15rem);
		color:#999;
		i{
			font-style:normal;
			float:right;
			padding-right:cal(13rem);
			color:#333;
		}
	}
	.left{
		float:left;
		margin-top:cal(15rem);
		margin-left:cal(13rem);
		line-height:cal(70rem);
		font-family:'iconfont';
		font-size:cal(15rem);
		color:#999;
	}
	.good{
		line-height:cal(70rem);
	}
	.brand{
		line-height:cal(50rem);
	}
	.hours{
		clear:both;
		line-height:cal(20rem);
		b{
			padding-left:cal(9rem);
			font-weight:normal;
			font-size:cal(13rem);
			color:#333;
		}
	}
	.right{
		overflow:hidden;
		margin-top:cal(10rem);
		margin-left:cal(50rem);
		margin-right:cal(13rem);
		h5{
			line-height:cal(15rem);
			font-weight:normal;
			font-size:cal(13rem);
			color:#333;
		}
		p{
			line-height:cal(20rem);
			font-size:cal(11rem);
			color:#999;
		}
	}
}
#select{
	position:fixed;
	left:0;
	bottom:0;
	z-index:2;
	display:none;
	width:100%;
	background:white;
	img{
		float:left;
		margin-top:cal(-60rem);
		margin-left:cal(12rem);
		box-shadow:0 5px 10px #ccc;
		width:cal(90rem);
	}
	p{
		margin-top:cal(15rem);
		margin-left:cal(110rem);
		font-size:cal(11rem);
		span{
			font-size:cal(17rem);
		}
	}
	b{
		display:block;
		margin-left:cal(110rem);
		line-height:cal(20rem);
		font-weight:normal;
		font-size:cal(11rem);
		color:#333;
	}
	#please{
		margin-left:cal(7rem);
		float:left;
	}
	#colo{
		float:left;
		font-size:cal(11rem);
		padding-top:2px;
		padding-right:cal(5rem);
	}
	#size{
		float:left;
		font-size:cal(11rem);
		padding-top:2px;
	}
	.pwq{
		clear:both;
		overflow:hidden;
		margin-top:cal(10rem);
		h5{
			margin-top:cal(10rem);
			margin-left:cal(12rem);
			font-weight:normal;
			font-size:cal(11rem);
			color:#333;
		}
		h4{
			margin-top:cal(10rem);
			margin-left:cal(12rem);
			border:1px solid #ccc;
			border-radius:3px;
			line-height:cal(20rem);
			text-align:center;
			font-weight:normal;
			font-size:cal(11rem);
			color:#333;
			width:cal(60rem);
			height:cal(20rem);
		}
		.big{
			width:cal(40rem);
		}
		i{
			float:left;
			display:block;
			margin-bottom:cal(10rem);
			margin-top:cal(10rem);
			border-left:none;
			line-height:cal(15rem);
			text-align:center;
			font-style:normal;
			font-size:cal(11rem);
			width:cal(20rem);
			height:cal(15rem);
			border:1px solid #ccc;
		}
		#sub{
			margin-left:cal(12rem);
		}
		#plus{
			color:#eb4868;;
		}
	}
	strong{
		float:right;
		display:block;
		margin:12px;
		font-weight:normal;
		font-size:cal(11rem);
	}
	.bottom{
		overflow:hidden;
		clear:both;
		.left{
			float:left;
			line-height:cal(40rem);
			text-align:center;
			font-size:cal(13rem);
			color:#eb4868;
			width:50%;
			height:cal(40rem);
			background:#ffe8ee;
		}
		.right{
			background:#ff5579;
			color:#fff;
		}
	}
}